<main class="container">
    <div class="card bg-light text-white"> 
        <img src="https://media.npr.org/assets/about/cover-image-smaller.png">
        <div class="card-img text-center">
            <a href="/articles/"><img src="https://media.npr.org/chrome_svg/npr-logo.svg" alt="NPR logo" width="200" height="70"></br>
            <button type="button" class="btn btn-lg btn-outline-secondary">Enter NPR Scraper</button></a>
            <p class="text-secondary mt-2 ml-2">NPR for Mid-South. Leave your notes for your comment.</p>
        </div>
    </div>
<main>